hguduyfhgfveuyhgfyugyh.btn {
    display: block;
    width: 100%;
    cursor: pointer;
    border: radius 0.5rem;
    margin-top: 1rem;
    font-size: 1.7rem;
    padding: 1rem 3rem;
    background: var(--green);
    color: var(--white);
}